.favorite-button-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    cursor: pointer;
}

.favorite-button-text {
    @include typography(16px, 700, 19px)
}

.black {

    .favorite-button-text {
        color: $black;
    }

    .favorite-star path{
        stroke: $black;
    }

    .favStar path{
        fill: $black;
        stroke: $black;
    }
}

.green {

    .favorite-button-text {
        color: $green;
    }

    .favorite-star path {
        stroke: $green;
    }

    .favStar path {
        stroke: $green;
        fill: $green;
    }
}