$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;

$green: #B2FFBF;
$darkgreen: #4A614D; 
$gray: #F5F5F5;
$lightgray: #CECECE;
$darkgray: #808080;
$black: #202020;
$khaki: #8DA491;
$gradient: linear-gradient(180deg, #202020 0%, #215229 100%);