.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    margin: 48px 24px;
    max-width: 1152px;
    flex: 1;
}

.title-count-wrapper {
    display: flex;
}


.home-characters {
    margin-bottom: 66px;
}

.home-character-list, .home-episode-list {
    margin-top: 26px;
}

@media (max-width: $breakpoint-md) {

    .home-wrapper,
    .error {
        margin-top: 100px;
    }
}

.home-episode-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
}
.episode-list {
    display: flex;
    flex-direction: row;
    width: calc(33.33% - 16px); 
}

@media (max-width: $breakpoint-md) {

    .episode-list {
        width: calc(50% - 12px);
 
    }
}

@media (max-width: $breakpoint-sm) {

    .episode-list {
        width: 100%;
    }
}

