.loading-spinner-container {
    background-color: $arsenic;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;

}

.loading-spinner-image {
    animation: loading-spinner-image 1s linear infinite;
}

@keyframes loading-spinner-image {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}