.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    max-width: 1152px;
    flex-basis: 100%;
    @include typography(32px, 700, 39px);
    color: $darkgray;
}

@media (max-width: $breakpoint-md) {
    .not-found {
        margin-top: 98px;
        @include typography(20px, 700, 24px);
    }
}